@font-face {
    font-family: 'halo';
    src: url(./font/Halo.ttf);
}
body{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./impg3/High_resolution_wallpaper_background_ID_77700692657.jpg);
    background-size: cover;
}
a{
    font-family: 'halo';
    text-shadow: 0 0 8px rgba(0, 0, 0, 2);
    font-size: 1.5vmax;
}
#h1{
    color: chocolate;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
#vehiculos, #vehiculosc{
    font-family: 'halo';
    color: chocolate;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    margin-top: 3%;
    text-align: center;
}
#armas{
    font-family: 'halo';
    color: chocolate;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    margin-top: 2%;
    text-align: center;
}
#imgchange{
    width: 60px;
    height: 40px;
}
#arm1, #arm2, #arm3, #arm4,#arm5, #arm6,#arm7, #arm8, #arm9, #arm10, #arm11, #arm12, #arm13, #arm14, #arm15, #arm16, #arm17, #arm18{
    font-family: 'halo';
    color:chartreuse;
    font-size: 0.6em;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
#top{
    color: rgb(16, 209, 209);
}
#top:hover{
    color: rgba(2, 56, 56, 0.792);
}
#barra1{
    background-color: rgba(28, 32, 29, 0.35);;
}
ul{
    background-color: rgba(169, 169, 169, 0.463);
}

header{
    padding-top: 0%;
    margin-top: 0%;
}

footer{
    background-image: url(./imgp1/Halo-FooterBanner_Option1-1920x350.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#items{
    background-color: rgba(0, 0, 0, 0.489);
    font-family: 'halo';
    width: 100%;
    text-shadow: 0 0 8px rgba(0, 0, 0, 2);
    font-size: 2vmax;
}
#items2{
    transform: translate(20%,-140%);
    font-family: 'halo';
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
    font-size: 2vmax;
}

.i, .ii, .iii{
    object-fit: cover;
    width: 100%;
    height: 50%;
}
svg{
    fill: blanchedalmond;
}

@media all and (min-width: 1000px){
    a{
        font-size: 5vh;
    }
    .footer{
        display: flex;
        justify-content: space-around;
    }
    #ig{
        width: 45px;
        height: 45px;
        margin-top: 5%;
    }
    #micro{
        width: 80px;
        height: 50px;
        margin-top: 2%;
    }
    #camps{
        width: 140px;
        height: 50px;
        margin-top: 2%;
    }
    #icons{
        width: 50px;
        height: 50px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 5%;
    }
}

