@font-face {
    font-family: 'halo';
    src: url(./font/Halo.ttf);
}
body{
    background-image: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./impg3/349586-4k-wallpaper.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#imgchange{
    border: solid rgba(95, 0, 139, 0.455) 4px;
}

a{
    font-family: 'halo';
    text-shadow: 0 0 8px rgba(0, 0, 0, 2);
    font-size: 1.5vmax;
}
p{
    text-shadow: 0 0 8px rgba(0, 0, 0, 2);
}
h1{
    font-family: 'halo';
    text-shadow: 0 0 8px rgba(0, 0, 0, 2);
    font-size: 2.3vmax;
    color: blueviolet;
}
#top{
    color: chocolate;
}
#top:hover{
    color: rgba(2, 56, 56, 0.792);
}
#barra1{
    background-color: rgba(28, 32, 29, 0.35);;
}
ul{
    background-color: rgba(169, 169, 169, 0.463);
}
svg{
    fill: blanchedalmond;
}
footer{
    background-image: url(./imgp1/Halo-FooterBanner_Option1-1920x350.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
@media all and (min-width: 1000px){
    a{
        font-size: 5vh;
    }
    #imgchange{
        width: 500px;
        height: 800px;
    }
    .footer{
        display: flex;
        justify-content: space-around;
    }
    #ig{
        width: 45px;
        height: 45px;
        margin-top: 5%;
    }
    #micro{
        width: 80px;
        height: 50px;
        margin-top: 2%;
    }
    #camps{
        width: 140px;
        height: 50px;
        margin-top: 2%;
    }
    #icons{
        width: 50px;
        height: 50px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 5%;
    }
    #imgcas{
        margin-top: 5%;
    }
}